<hr class="divider" />

<div id="footer">

    <div class="sponsor">
        2010 - 2011 · <a href="http://www.lab2023.com" target="_blank">lab2023 - internet technologies</a> · All rights reserved
    </div>
    <!-- /#sponsor -->

    <div class="social">
        <p>
            <a href="http://www.facebook.com/pages/Kebab-Project/207632827063" target="_blank">
                <img src="/assets/images/facebook_24.png">
            </a>
            <a href="http://friendfeed.com/kebab-project" target="_blank">
                <img src="/assets/images/friendfeed_24.png">
            </a>
            <a href="https://twitter.com/kebab_project" target="_blank">
                <img src="/assets/images/twitter_24.png">
            </a>
            <a href="http://www.vimeo.com/kebab" target="_blank">
                <img src="/assets/images/vimeo_24.png">
            </a>
        </p>
    </div>
    <!-- /#social -->

    <div id="google_translate_element"></div><br />

</div>
<!-- /#footer -->