<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Kebab Project - {{ page.title }}</title>
    <link href="/shared/css/documentation.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/shared/css/pygments.css" media="screen" rel="stylesheet" type="text/css">
    <script src="/shared/js/jquery.js" type="text/javascript"></script>
    <script src="/shared/js/documentation.js" type="text/javascript"></script>
  </head>
  
  <body>
    <div id="main">
      <div id="header-wrapper">
        <div id="header" class="basic" >
          <div class="site">
              <a class="logo" href="/"><img src="logo.png" alt="" width="196" height="45"/></a>
            <div class="topsearch">

              <ul class="nav logged_out">
                  <li><a href="">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="http://kebab-project.2299591.n4.nabble.com/" target="_blank">Forum</a></li>
                <li><a href="http://webchat.freenode.net/?channels=kebabproject" target="_blank">Live Chat</a></li>
                <li><a href="https://github.com/kebab-project/kebab-project/zipball/v1.5.0.rc1" target="_blank">Download</a></li>
                <li><a href="http://demo.kebab-project.com/" target="_blank">Demo</a></li>
              </ul>

            </div>
          </div>
        </div>
      </div>
      <div id="wrapper">
        <div id="content" class="site">

          {{ content }}

        </div>
      </div>

      <div class="push"></div>
    </div>

     <div id="footer" >
      <div class="upper_footer">
        <div class="footer_inner clearfix">

        <!--[if IE]><h4 id="blacktocat_ie">Kebab Links</h4><![endif]-->
        <![if !IE]><h4 id="blacktocat">Links</h4><![endif]>

        <ul class="footer_nav">
          <h4>Overview</h4>
            <li><a href="/overview/about-kebab">About Kebab</a></li>
            <li><a href="/overview/features">Features</a></li>
            <li><a href="/overview/team">Team</a></li>
            <li><a href="/overview/license">License</a></li>
        </ul>

        <ul class="footer_nav">
          <h4>Community</h4>
            <li><a href="http://kebab-project.2299591.n4.nabble.com/" target="_blank">Forum</a></li>
            <li><a href="http://webchat.freenode.net/?channels=kebabproject" target="_blank">Live Chat</a></li>
        </ul>

        <ul class="footer_nav">
          <h4>Documentation</h4>
            <li><a href="#">User Guide v.2.x</a></li>
            <li><a href="#">Kebab  Api v.2.x</a></li>
            <li><a href="#">Server Doc v.2.x</a></li>
            <li><a href="#">Client Doc v.2.x</a></li>
        </ul>

        <ul class="footer_nav">
          <h4>Development</h4>
            <li><a href="/development/contribute-to-kebab">Contribute to Kebab</a></li>
            <li><a href="/development/change-log">Change Log</a></li>
            <li><a href="/development/report-a-bug">Report a Bug</a></li>
        </ul>

        </div><!-- /.site -->
      </div><!-- /.upper_footer -->

      <div class="lower_footer">
        <div class="footer_inner clearfix">
            <div id="legal"> 
              <!--[if IE]><a class="home_ie" href="http://kebab-project.github.com">Home</a><![endif]-->
              <![if !IE]><a class="home" href="http://kebab-project.github.com">Home</a><![endif]>

              <!--
              <ul id="legal_links">
                <li><a href="#">License</a></li>
              </ul>
              -->

              <p>&copy; <span id="year">year</span> lab2023 Inc. All rights reserved.</p>
            </div><!-- /#legal or /#legal_ie-->

            <div class="sponsor">
              <a href="http://www.lab2023.com" class="logo">
                <img src="/shared/images/lab2023_logo.jpg" alt="lab2023 - internet technologies" width="36" height="36">
              </a>
              Sponsored by <a href="http://www.lab2023.com ">lab2023.com</a> <br />
          </div>
        </div><!-- /.site -->
      </div><!-- /.lower_footer -->
    </div><!-- /#footer -->
  </body>
</html>
